<p id="notice"><%= notice %></p>

<h1>Listing Partner Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @partner_types.each do |partner_type| %>
      <tr>
        <td><%= partner_type.name %></td>
        <td><%= partner_type.description %></td>
        <td><%= link_to 'Show', partner_type %></td>
        <td><%= link_to 'Edit', edit_partner_type_path(partner_type) %></td>
        <td><%= link_to 'Destroy', partner_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Partner type', new_partner_type_path %>
