<p id="notice"><%= notice %></p>

<h1>Listing Organization Catagories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organization_catagories.each do |organization_catagory| %>
      <tr>
        <td><%= organization_catagory.name %></td>
        <td><%= organization_catagory.description %></td>
        <td><%= link_to 'Show', organization_catagory %></td>
        <td><%= link_to 'Edit', edit_organization_catagory_path(organization_catagory) %></td>
        <td><%= link_to 'Destroy', organization_catagory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization catagory', new_organization_catagory_path %>
