<!DOCTYPE html>
<html>
<head>
  <title>Home | Engage | University of Colorado</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link type="text/css" rel="stylesheet" href="http://www.colorado.edu/cuengage/sites/default/files/css/css_uownO8HrTU9ZBLynNx4XqxeR-EZsBqW_aZ4mKyTxRtU.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="http://www.colorado.edu/cuengage/sites/default/files/css/css_5fKqKbGSHMIcj4FLI5XIrA4LX80XiabxxeU1O89sGTE.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="http://www.colorado.edu/cuengage/sites/default/files/css/css_Ij3_earCsz_rchTCZbvbo8AOL2sjUjNQK_81aQkZlCU.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="http://www.colorado.edu/cuengage/sites/default/files/css/css_l1AP2e--YjtWJkLoboiE894aDoECadONGpRwkF_u7GQ.css" media="print" />
  <link type="text/css" rel="stylesheet" href="http://www.colorado.edu/cuengage/sites/default/files/css/css_ph0DygW04EF0WlozleVLmupaWpNxm0LbuhDG4uy_smM.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="http://www.colorado.edu/cuengage/sites/default/files/css/css_rkJrp2FXcFSELcHEHR6rOiQTkYkMHt--Yb5OkhlY3PI.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="http://www.colorado.edu/cuengage/sites/default/files/css/css_45wTB_rbOSt4litKAdL1WfbgZ_sz4fRQUVjzXLTg9U4.css" media="screen" />
</head>
<body class="html front not-logged-in page-node page-node-2 node-type-page headings-bold page-title-image-background-white block-icons-inherit is-not-responsive banner-black layout-boxed">
	<div id="print-header" class="clearfix">
	<div class="print-site-name">
		Engage   
	</div>
	<div class="print-site-logo">
		<img src="http://www.colorado.edu/cuengage/profiles/cu_fit/themes/cu_omega/images/print-logo.png" alt="University of Colorado Boulder" />  
	</div>
</div>
	<div class="container">
		<div class="row">
			<div class="grid-8 region region-branding" id="region-branding">
				<div class="region-inner region-branding-inner">
				    <div class="branding-data clearfix">
			            <div class="logo-img">
			        		<a href="/" rel="home" title="Engage " class="active"><img src="http://www.colorado.edu/cuengage/profiles/cu_fit/themes/cumodern/logo.png" alt="Engage " id="logo" /></a>     
						</div>
			            <div class="site-name-slogan">
							<h1 class="site-title"><a href="/" title="Home" class="active">Engage </a></h1>
							<h6 class="site-slogan">University of Colorado <strong>Boulder</strong></h6>
			              </div>
			          </div>
			      </div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
							<div id="section-header" class="section section-header">
								<div id="zone-branding-wrapper" class="zone-wrapper zone-branding-wrapper clearfix">  
									<!-- <div id="zone-branding" class="zone zone-branding clearfix"> -->
										<!-- <div id="print-header" class="clearfix"> -->
											<!-- <div class="container-fluid"> -->
												<nav class="navigation">
													<%= render 'layouts/menu' %>
												</nav>
											<!-- </div> -->
										<!-- </div> -->
									<!-- </div> -->
								</div>
							</div>
				<div class="main_body">
			      <%= yield %>
				</div>
				<div id="section-footer" class="section section-footer">
					<div id="zone-site-information-wrapper" class="zone-wrapper zone-site-information-wrapper clearfix">  
						<div id="zone-site-information" class="zone zone-site-information clearfix">
							<!-- <div class="container-12"> -->
								<!-- <div class="grid-12 site-info-row"> -->
									<!-- <div class="grid-8 alpha"> -->
										<div class="block block-cu-site-info block-site-info block-cu-site-info-site-info odd site_info-block-0" id="block-cu-site-info-site-info">
											<div class="block-inner clearfix">
												<h2 class="block-title"><span><a href="/cuengage/">Engage </a></span></h2>
												<div class="content clearfix">
													<p>For general inquiries you can reach us by calling 303.492.7719 or emailing <a href="mailto:cuengage@colorado.edu">cuengage@colorado.edu</a>. </p>
													<p>By regular mail: CU Engage, 471 UCB, Boulder, CO 80309</p>
													<p>See a list of all CU Engage contacts <a href="//www.colorado.edu/cuengage/contact-us">here</a>.</p>
												</div>
											</div>
										</div>
									</div>
									<!-- <div class="grid-4 omega"> -->
										<div class="block cu-boulder-block">
											<div class="block-inner">
												<p><a href="//www.colorado.edu"><img src="http://www.colorado.edu/cuengage/profiles/cu_fit/themes/cu_omega/images/beboulder/be-boulder-white.png" alt="University of Colorado Boulder" class="beboulder"/></a></p>
												<p><strong><a href="http://www.colorado.edu">University of Colorado Boulder</a></strong><br />&copy; Regents of the University of Colorado<br />
												<span class="required-links"><a href="http://www.colorado.edu/policies/privacy-statement">Privacy</a> &bull; <a href="http://www.colorado.edu/about/legal-trademarks">Legal &amp; Trademarks</a> &bull; <a href="http://www.colorado.edu/accessibility">Accessibility</a></span></p>
											</div>
										<!-- </div> -->
									<!-- </div> -->
								<!-- </div> -->
							<!-- </div>   -->
						</div>
					</div>
			</div>
			<div class="col-md-2">
			</div>
		</div>	
	</div>
</div>
</body>
</html>
